@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-4xl max-w-lg md:text-6xl  uppercase;
  }
  h3 {
    @apply text-white absolute bottom-0 left-0 uppercase text-2xl p-4 md:p-8 transition-all duration-200 group-hover:scale-110 group-hover:text-black md:w-52;
  }
}

.btn {
  @apply uppercase font-alata tracking-widest font-bold border-2 border-black px-10 py-2 hover:bg-black hover:text-white transition-all duration-200;
}

.item-gradient {
  @apply absolute top-0 right-0 bottom-0 left-0 bg-gradient-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70 w-full;
}
#hero-section {
  background-image: url("images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 567px) {
  #hero-section {
    background-image: url("images/mobile/image-hero.jpg");
    background-position: center;
  }
}

#humberger {
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transition: all 0.25s;
  transform: translateY(-10px);
  cursor: pointer;
}

#humberger-top,
#humberger-middle,
#humberger-bottom {
  width: 24px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.5s;
  transform: rotate(0);
  /* pointer-events; */
}

#humberger-middle {
  transform: translateY(7px);
}

#humberger-bottom {
  transform: translateY(14px);
}

.open #humberger-top {
  transform: rotate(45deg);
}

.open #humberger-middle {
  display: none;
}

.open #humberger-bottom {
  transform: rotate(-45deg);
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%)
    hue-rotate(121deg) brightness(101%) contrast(94%);
}
